html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #afd76b;
  background: #f6769d;
  background: #716799;
  background: #f676e1;
  background: #76b8f6;
  background: #f6dc76;
  background: #f69476;
  margin: auto;

  max-width: 42em;
  font-family: "Century Schoolbook L", Roboto, Georgia, Palatino,
    "Palatino Linotype", Times, "Times New Roman", serif;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

.topNavBar {
  color: rgba(66, 66, 66, 0.7);
  background: rgba(247, 251, 240, 0.7);
  padding: 0.5em;
}

.noteTopBar {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: rgba(247, 251, 240, 0.7);
  margin-top: 1em;

  font-size: 0.8em;
  color: rgba(66, 66, 66, 0.7);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: right;
}

.noteTopBar * {
  align-content: right;
  display: inline;
}

.note {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #f7fbf0;
  border-top: 1px solid rgba(189, 192, 183, 0.7);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.codeMirrorContainer {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.5em;
  background: #f7fbf0;
}

.CodeMirror {
  font-family: monospace;
  font-size: 14px;
}

.deleteButton {
  border: 0px solid #ffffff;
  padding: 0.5em;
  height: 100%;

  color: rgba(66, 66, 66, 0.7);
  background-color: rgba(0, 0, 0, 0);
}
.deleteButton:hover {
  background: rgba(217, 221, 210, 0.6);
}
.deleteButton:active {
  background-color: rgba(0, 0, 0, 0);
}
