html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: auto;
  color: #444;

  max-width: 42em;
  font-family: "Century Schoolbook L", Roboto, Georgia, Palatino,
    "Palatino Linotype", Times, "Times New Roman", serif;
}

a,
a:visited,
a:active {
  color: blue;
}

a:hover {
  color: black;
}

.frag {
  word-wrap: normal;
  display: inline-block;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

.spacer {
  margin-left: 1em;
}

.idViewer {
  font-family: monospace;
}

.topNavBar {
  font-family: monospace;
  color: rgba(66, 66, 66, 0.7);
  background: rgba(247, 251, 240, 0.7);
  padding: 0.5em;

  border-bottom: 1px solid rgba(189, 192, 183, 0.4);
}

.noteTopBar {
  font-family: monospace;
  border-top-left-radius: 0.22em;
  border-top-right-radius: 0.22em;
  background: rgba(247, 251, 240, 0.7);
  margin-top: 0.5em;

  font-size: 0.8em;
  color: rgba(66, 66, 66, 0.7);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: right;

  border-bottom: 1px solid rgba(189, 192, 183, 0.4);
}

.noteTopBar * {
  align-content: right;

  display: inline-block;
}

.note {
  border-bottom-left-radius: 0.22em;
  border-bottom-right-radius: 0.22em;
  background: #f7fbf0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.codeMirrorContainer {
  border-bottom-left-radius: 0.22em;
  border-bottom-right-radius: 0.22em;
  padding: 0.5em;
  background: #f7fbf0;
}

.deleteButton {
  font-family: monospace;
  cursor: pointer;
  border: 0px solid #ffffff;
  padding: 0.5em;
  height: 100%;

  color: rgba(66, 66, 66, 0.7);
  background-color: rgba(0, 0, 0, 0);
}
.deleteButton:hover {
  background: rgba(217, 221, 210, 0.6);
}
.deleteButton:active {
  background-color: rgba(0, 0, 0, 0);
}

.fromHeader {
  font-family: monospace;
  background: rgba(247, 251, 240, 0.7);

  padding: 0.5em;
  font-size: 0.8em;
  color: rgba(66, 66, 66, 0.7);

  border-bottom: 1px solid rgba(189, 192, 183, 0.4);
}
.fromLink {
  padding-right: 0.5em;
}

.noteEditor {
  resize: vertical;
}
